################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Hallon/bin/Debug
/Hallon/obj
/Hallon.Demo/bin
/Hallon.Demo/obj
/Hallon.UnitTests/obj
/packages
